/* MAIN STYLE */

@font-face {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;    
    color: #fff;
    background-color: #2AABE4;    
}
a {
    color: #fff;
}
a:hover {
    color: rgb(223, 223, 223);
    text-decoration: none;
}
a.active {
    color: rgb(252, 250, 136);
}

/* END OF MAIN STYLE */
/* ------------------------- */
/* HEADER BLOCK */

header {
    padding: 20px 20%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    background-color: #6cc4e9;   
    min-width: 700px;
}
header .logo {
    display: inline;
    float: left;
    font-size: 20px;
}
header nav {
    display: block;
    float: right; 
}
header nav ul {
    padding: 0;
    margin: 4px 0 0 0;
}
header nav li {
    display: inline;
    margin-left: 10px;
}

/* END OF HEADER BLOCK */
/* ------------------------- */
/* CONTENT BLOCK */

#content {    
    padding: 20px 20%;
    overflow: hidden;
    min-width: 700px;
}
#content h1 {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 26px;
}
#content .main_page_img {
    display: block;
    float: left;
}
#content .main_page_text {
    display: block;
    margin-left: 320px;
}

/* END OF CONTENT BLOCK */
/* ------------------------- */
/* FOOTER BLOCK */

footer {    
    padding: 20px 20%;
    overflow: hidden;
    min-width: 700px;
    text-align: right;
}

/* END OF FOOTER BLOCK */